.about_container {
    padding: 2%;
    margin-top: 5%;
    overflow-y: auto;
    overflow-anchor: auto;
    max-height: 76vh;
    gap: 4rem;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    justify-content: center;
}

.my-info-container {
    
}

.my-picture {
    width: 100%;
}

.my-picture>img {
    width: 100%;
}

.my-info {
    gap: 2rem;
    width: 100%;
    color: white;
    padding: 2%;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 6px;
    text-align: center;
    background-color: rgba(49, 35, 53, 0.74);
    display: flex;
    flex-direction: column;
}

.about_txt {
    opacity: 0;
    transition: all 1s;
}

.about_txt.show {
    opacity: 1;
}

.icons-container {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr 1fr ;
    gap: 1rem;
}