* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

html {
    /* background-image: url("../img/marble_background.jpg"); */
    background-color: black;
}

body {
    /* background-color: rgba(134, 104, 190, 0.692); */
    margin: 2% 10%;
    padding: 0 2%;
    min-height: 90vh;
    border-radius: 6px;
}