.projects-container {
    display: grid;
    grid-template: 1fr / 4fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 2rem;
    padding: 2%;
    margin-top: 5%;
    /* overflow-y: scroll;
    overflow-anchor:auto; */
    max-height: 76vh;
    /* background-color: rgba(49, 35, 53, 0.74); */

}

.projects-tv {
    transform: perspective(3000px) rotateY(35deg);
    
}

.tv {
    background-image: url("../img/tv-frame.png");
    background-size: cover;
    z-index: 100;
    position: absolute;
    padding: 28%;
    top: 0px;
    left: 0;
    right: 0;
}

.project-image {
    position: relative;
    z-index: -100;
    border-radius: 16px;
    padding: 5%;
    width: 100%;
}

.projects-description {
    transform: perspective(3000px) rotateY(-45deg);
    opacity: 0;
    transition: all 0.8s;
}

.projects-description.show {
    transform: perspective(3000px) rotateY(-45deg);
    opacity: 1;
}


.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-anchor {
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    color: black;
}

.project-anchor:hover {
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.425);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(48, 30, 56, 0.651);
    border-radius: 5px;
}