.projects-container {
    display: grid;
    grid-template: repeat(6, 1fr) / 1fr;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    padding: 2%;
    margin-top: 5%;
    overflow-y: scroll;
    overflow-anchor:auto;
    max-height: 76vh;
}

.project {
    display: grid;
    grid-template: 1fr / 1fr 1fr ;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    color: white;
    padding: 2%;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 6px;
    background-color: rgba(49, 35, 53, 0.74);
}

.project_img {
    width: 100%;
    transition: all 0.5s;
}

.project_img:hover {
    box-shadow: 4px 4px 10px rgb(32, 0, 44);
}

img {
    width: 100%;
}

.project_txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project_txt>.left_text {
    text-align: end;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0.425);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(48, 30, 56, 0.651);
    border-radius: 5px;
}